html,
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: seashell;
  position: relative;
  background-color: rgb(161, 190, 208);
}

main {
  width: 100%;
}

h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

h4 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(pink, transparent);
  padding: 6rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.link:visited,
.link:active,
.link:link,
.link {
  text-decoration: none;
  margin-right: 10px;
  font-size: 2.2rem;
  color: seashell;
  transition: all 0.3s;
}

.link:hover {
  color: rgb(161, 190, 208);
  transform: rotate(30deg);
}

.logo {
  display: flex;
  justify-content: space-around;
  margin-left: 2.2rem;
  font-size: 3rem;
  align-items: center;
}

header h2 {
  font-size: 3rem;
}

header img {
  width: 10rem;
  height: auto;
}

/* Banner */

.banner {
  width: 100%;
  height: 70rem;
  margin: 0 auto;
  background-image: url("banner.png");
  background-size: cover;
  text-align: center;
}

/*description*/
.overlay {
  position: absolute;
  height: 60rem;
  width: 100%;
  background-image: linear-gradient(
    transparent 0%,
    rgba(255, 192, 203, 0.51) 20%,
    rgba(255, 192, 203, 0.75) 30%,
    rgb(161, 190, 208) 50%,
    transparent 100%
  );
  top: 40rem;
}
.description {
  width: 100%;
  margin: 0 auto;
  height: 70rem;
  background-image: url("qt.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(
    0% 5%,
    39% 12%,
    50% 5%,
    83% 0%,
    100% 0%,
    100% 100%,
    83% 87%,
    65% 92%,
    40% 77%,
    34% 89%,
    16% 90%,
    5% 100%,
    0% 100%
  );
}

.description p {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-family: "Bungee Outline", cursive;
}

@media only screen and (max-width: 1182px) {
  .description p {
    top: 40%;
  }
}

@media only screen and (max-width: 782px) {
  .description p {
    font-size: 4rem;
  }
}
/* gallery */

.gallery {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10rem 15rem;
  color: seashell;
}
@media only screen and (max-width: 1320px) {
  .gallery {
    height: 150vh;
  }
}
@media only screen and (max-width: 890px) {
  .gallery {
    height: 260vh;
  }
}

.gallery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("gif.gif");
  background-size: cover;
  filter: blur(15px);
  z-index: -1;
}

.gallery figure {
  width: 30rem;
  height: 35rem;
  margin: 3rem 4rem;
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .gallery figure {
    margin: 1.5rem 2rem;
  }
}
@media only screen and (max-width: 980px) {
  .gallery figure {
    margin: 0;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 890px) {
  .gallery figure {
    width: 80%;
  }
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border: 3px solid pink;
}

figcaption {
  font-size: 2rem;
}

/* Story */

.story {
  height: auto;
  width: 100%;
  background-color: rgb(161, 190, 208);
  padding: 3rem 5rem;
}

iframe {
  width: 60%;
  height: 40rem;
  margin: 20rem auto 10rem auto;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.story p {
  width: 60%;
  font-size: 2rem;
  margin: 10rem auto;
  margin-top: 0;
}

@media only screen and (max-width: 800px) {
  .story p {
    width: 80%;
  }
}

/* footer */

footer {
  height: 6rem;
  display: flex;
  align-items: center;
}

footer h3 {
  font-size: 2rem;
  margin-left: 4rem;
}
